header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:darkviolet;
    color:white;
    font-family:'Times New Roman', Times, serif;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-size: 20px;
}

h1 {
    margin-left: 20px;
}