header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:darkviolet;
    color:white;
    font-family:'Times New Roman', Times, serif;
}

header img {
    width: 300px;
    
}


li {
    text-decoration: none;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-size: 15px;
    
}

h1 {
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: white;
}
